<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Web App Project</title>

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />

    <!-- WEB FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;subset=latin,latin-ext,cyrillic,cyrillic-ext" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/Admin/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/Admin/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/assets/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/Admin/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />
    <style>
        .col-centered{
            float: none;
            margin: 0 auto;
        }
    </style>

    <script type="text/javascript" src="/Admin/assets/plugins/jquery/jquery-2.2.3.min.js"></script>
    <script src="/jquery/jquery-ui.min.js"></script>

    <script>
        $(document).ready(function(){
           //모든 member가져오기
           $.get('/member/getAllMemberList').done(function(result){
               var tableRows = '';
               for(var i=0;i<result.length;i++){
                   tableRows+='<tr>';
                   tableRows+='<td>'+result[i].name+'</td>';
                   tableRows+='<td>'+result[i].id+'</td>';
                   tableRows+='<td>'+result[i].email+'</td>';
                   tableRows+='<td>'+result[i].phone+'</td>';
                   tableRows+='</tr>';
               }
               $("#memberTbody").html(tableRows);

           });

            $.get('/recent/getAllRecentList').done(function(result){

                for(var i=0;i<result.length;i++){
                    var date = new Date(parseInt(result[i].date));

                    var _date = date.toISOString().split('T')[0]+' '+date.getHours()+":"+date.getMinutes();

                    if(result[i].type=='registerCalendar'){
                        result[i].content='<b>'+result[i].writer+'</b>'+'님이 캘린더에 일정을 추가하셨습니다 - '+_date;
                    }else if(result[i].type=='modifyCalendar'){
                        result[i].content='<b>'+result[i].writer+'</b>'+'님이 캘린더에 일정을 수정하셨습니다 - '+_date;
                    }else if(result[i].type=='deleteCalendar'){
                        result[i].content='<b>'+result[i].writer+'</b>'+'님이 캘린더에 일정을 삭제하셨습니다 - '+_date;
                    }else if(result[i].type=='sendMail'){
                        result[i].content='<b>'+result[i].writer+'</b>'+'님이 메일을 전송하셨습니다 - '+_date;
                    }else if(result[i].type=='login'){
                        result[i].content='<b>'+result[i].writer+'</b>'+'님이 로그인하셨습니다 - '+_date;
                    }
                }


                var html = '';
                for(var i=0;i<result.length;i++){
                    html+='<li>';
                    if(result[i].type=='registerCalendar'){
                        html+='<span class="label label-danger"><i class="fa fa-bell-o size-15"></i></span>';
                    }else if(result[i].type=='modifyCalendar'){
                        html+='<span class="label label-success bg-black"><i class="fa fa-cogs size-15"></i></span>';
                    }else if(result[i].type=='deleteCalendar'){
                        html+='<span class="label label-default"><i class="fa fa-briefcase size-15"></i></span>';
                    }else if(result[i].type=='sendMail'){
                        html+='<span class="label label-warning"><i class="fa fa-comment size-15"></i></span>';
                    }else if(result[i].type=='login'){
                        html+='<span class="label label-success"><i class="fa fa-user size-15"></i></span>';
                    }
                    html+=result[i].content;
                    html+='</li>';
                }
                $("#recentActivityUl").html(html);

            });


        });
    </script>

</head>

<body>

<div id="wrapper" class="clearfix">

    <aside id="aside">

        <nav id="sideNav"><!-- MAIN MENU -->
            <ul class="nav nav-list">
                <li class="active"><!-- dashboard -->
                    <a class="dashboard" href="/login">
                        <i class="main-icon fa fa-home"></i> <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="/calendar">
                        <!--<i class="fa fa-menu-arrow pull-right"></i>-->
                        <i class="main-icon fa fa-calendar"></i> <span>Calendar</span>
                    </a>
                </li>
                <li>
                    <a href="http://ec2-52-79-148-200.ap-northeast-2.compute.amazonaws.com:3001/chat">
                        <!--<i class="fa fa-menu-arrow pull-right"></i>-->
                        <i class="main-icon fa fa-commenting"></i> <span>Chat Room</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <!--<i class="fa fa-menu-arrow pull-right"></i>-->
                        <i class="main-icon fa fa-krw"></i> <span>Money Book</span>
                    </a>
                </li>
                <li>
                    <a href="/about">
                        <!--<i class="fa fa-menu-arrow pull-right"></i>-->
                        <i class="main-icon fa fa-info-circle"></i> <span>ABOUT</span>
                    </a>
                </li>

            </ul>

        </nav>

        <span id="asidebg"><!-- aside fixed background --></span>
    </aside>
    <!-- /ASIDE -->


    <!-- HEADER -->
    <header id="header">

        <!-- Mobile Button -->
        <button id="mobileMenuBtn"></button>

        <!-- Logo -->
        <span class="logo pull-left">
					<a href="/login"><img src="/images/logo.png" alt="panel" height="35" /></a>
				</span>


        <nav>

            <!-- OPTIONS LIST -->
            <ul class="nav pull-right">

                <!-- USER OPTIONS -->
                <li class="dropdown pull-left">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img class="user-avatar" alt="" src="/Admin/assets/images/noavatar.jpg" height="34" />
                        <span class="user-name">
									<span class="hidden-xs">
										<%=id%> <i class="fa fa-angle-down"></i>
									</span>
								</span>
                    </a>
                    <ul class="dropdown-menu hold-on-click">
                        <li class="divider"></li>

                        <li>
                            <a href="/member/getMemberById?id=<%=id%>"><i class="fa fa-cogs"></i> 마이페이지</a>
                        </li>
                        <li>
                            <a href="/login/logout"><i class="fa fa-power-off"></i> 로그아웃</a>
                        </li>
                    </ul>
                </li>
                <!-- /USER OPTIONS -->

            </ul>
            <!-- /OPTIONS LIST -->

        </nav>

    </header>
    <!-- /HEADER -->


    <section id="middle">
        <div id="content" class="dashboard padding-20">


            <div class="row">

                <div class="col-md-6">

                    <!--
                        PANEL CLASSES:
                            panel-default
                            panel-danger
                            panel-warning
                            panel-info
                            panel-success

                        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                                All pannels should have an unique ID or the panel collapse status will not be stored!
                    -->
                    <div id="panel-2" class="panel panel-default">
                        <div class="panel-heading">
									<span class="title elipsis">
										<strong>OVERVIEW</strong> <!-- panel title -->
									</span>

                            <!-- tabs nav -->
                            <ul class="nav nav-tabs pull-right">
                                <li class="active"><!-- TAB 1 -->
                                    <a href="#ttab1_nobg" data-toggle="tab">Members</a>
                                </li>
                            </ul>
                            <!-- /tabs nav -->


                        </div>

                        <!-- panel content -->
                        <div class="panel-body">

                            <!-- tabs content -->
                            <div class="tab-content transparent">

                                <div id="ttab1_nobg" class="tab-pane active"><!-- TAB 1 CONTENT -->

                                    <div class="table-responsive">
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                            <tr>
                                                <th>이름</th>
                                                <th>아이디</th>
                                                <th>이메일</th>
                                                <th>전화번호</th>
                                            </tr>
                                            </thead>
                                            <!--모든 member-->
                                            <tbody id="memberTbody">
                                            </tbody>
                                        </table>

                                    </div>

                                </div>


                            </div>
                            <!-- /tabs content -->

                        </div>
                        <!-- /panel content -->

                    </div>
                    <!-- /PANEL -->

                </div>

                <div class="col-md-6">

                    <!--
                        PANEL CLASSES:
                            panel-default
                            panel-danger
                            panel-warning
                            panel-info
                            panel-success

                        INFO: 	panel collapse - stored on user localStorage (handled by app.js _panels() function).
                                All pannels should have an unique ID or the panel collapse status will not be stored!
                    -->
                    <div id="panel-3" class="panel panel-default">
                        <div class="panel-heading">
									<span class="title elipsis">
										<strong>RECENT ACTIVITIES</strong> <!-- panel title -->
									</span>
                        </div>

                        <!-- panel content -->
                        <div class="panel-body">

                            <ul id="recentActivityUl" class="list-unstyled list-hover slimscroll height-300" data-slimscroll-visible="true"></ul>

                        </div>
                        <!-- /panel content -->


                    </div>
                    <!-- /PANEL -->

                </div>

            </div>

        </div>
    </section>
    <!-- /MIDDLE -->

</div>



<!-- JAVASCRIPT FILES -->
<script type="text/javascript">var plugin_path = '/Admin/assets/plugins/';</script>
<script type="text/javascript" src="/Admin/assets/plugins/jquery/jquery-2.2.3.min.js"></script>
<script type="text/javascript" src="/Admin/assets/js/app.js"></script>
</body>
</html>